.category-name h1 {
  font-weight: 200px;
  font-size: 30px;
  color: #00a7ac;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: -42px;
}

span.open-post {
  color: blanchedalmond;
  font-style: bold;
}

.card-img {
  height: 199px;
  margin-bottom: 60px;
  opacity: 1.4;
}

.card.text-bg-white {
  height: 200px;
  gap: 10px;
}

p.card-text {
  color: aliceblue;
}
h5.card-title {
  color: aliceblue;
}

.category-container {
  margin: 64px auto;
  max-width: 68%;
}

.card-img-overlay {
  position: absolute;
  top: 70px;
  right: -29px;
  bottom: 0;
  left: 45px;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
}

span.open-post {
  color: blanchedalmond;
}

.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px);
  top: 0rem;
  right: 0;
}

.react-multiple-carousel__arrow--left {
  right: calc(5% + 8px);
  top: 0rem;
  left: unset;
}
.react-multi-carousel-track {
  padding: 5rem 0;
}

@media (max-width: 1400px) {
  .category-container {
    max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .category-container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .category-container {
    max-width: 940px;
  }
}
@media (max-width: 760px) {
  .category-container {
    max-width: 90vw;
  }
}
