.content-header {
  margin-right: 980px;
}

.content-header h1 {
  font-weight: 200px;
  font-size: 17px;
  color: #00a7ac;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.content h1 {
  font-family: "Roboto", sans-serif;
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
.content-image {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 434px;
  position: relative;
}
.content-image img {
  width: 100%;
}
.content-image h1 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff;
  background: transparent;
}
.content-image form {
  position: absolute;
  bottom: 30%;
  left: 28%;
}
.content-image form input {
  border: none;
  border-radius: 5px;
  padding: 10px 31px;
  margin-right: 12px;
  flex-grow: 1;
}
form {
  display: flex;
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mc .row {
  align-items: baseline;
}
.card {
  background-color: rgb(231, 240, 231);
}

.card-container {
  display: grid;
  background: #f8f8f8;
  grid-template-columns: repeat(3, 1fr); /* Divide into 3 equal columns */
  border: 1px solid #f5fafa;
  gap: 38px;
  margin: 3rem 0;
}

.card-image img {
  height: 210px;
  width: 100%;
  margin-right: 25px;
  padding: 10px;
}

div .card-header {
  color: black;
  background-color: white;
  margin-left: 10px;
}

.company-area {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 11px 0;
}

.image-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 11px;
}

.name-location h5 {
  font-size: -0.875rem;
  font-weight: 600;
  color: var(--title-color1);
  font-family: var(--font-exo2);
  transition: 0.35s;
  margin-left: 20px;
  margin-bottom: 8px;
}

.company-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.name-location ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.job-description ul {
  list-style: circle;
}

.job-description ul li p span.title {
  color: #746363;
}

div.job-type-apply {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 10px;
}

div.job-type-apply a {
  text-decoration: none;
  margin-right: 12px;
}

.job-type span.light-green {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
  background: antiquewhite;
  font-family: "Roboto", sans-serif;
  border-radius: 50px;
  padding: 5px 21px;
  margin-left: 20px;
}

.apply-btn a {
  font-size: 0.938rem;
  font-weight: 500;
  color: #00a7ac;
  font-family: var(--font-exo2);
}
