body {
  background-color: #fbf8fa;
}

table {
  /*automatically center the table content */
  margin: 7% auto;
  min-width: 50vw;
  background-color: rgb(248 253 248);
  margin-bottom: 473px;
}
thead th {
  background-color: rgb(113 116 112 / 25%);
  color: #333;
  padding: 10px;
  border: 1px solid #0c0808;
}

tbody td {
  background-color: rgb(203 193 207);
  color: #333;
  border: 1px solid #0c0808;
  padding: 10px;
}

table thead .table-title h5 {
  color: blue;
}
tbody tr td a {
  text-decoration: none;
}

table thead tr th:nth-child(even),
td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

p.success-message-khalti {
  background-color: rgb(93, 192, 106);
  padding: 15px 1px;
  margin-bottom: 0px;
  text-align: center;
  color: #f3f0ed;
}

p.error-message-khalti {
  background-color: rgb(177, 134, 115);
  padding: 15px 1px;
  margin-bottom: 0px;
  text-align: center;
  color: #f3f0ed;
}
