.content {
  display: inline-block;
  padding: 0px 846px 23px 500px;
}
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
form {
  display: flex;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 12px;
  flex-grow: 1;
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.job-list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(220, 230, 227);
  height: 298px;
  overflow-x: auto;
}

.job p {
  margin-bottom: 5px;
}

.job button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
