.student-footer {
  margin-top: 0px;
}
.student-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 0;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;

  padding: 0 !important;
  margin: 0;
}
.dropdown-menu-item {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0 !important;
  padding: 0.5rem;
}
.student-profile {
  border-radius: 5px;
}

.student-profile h5 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 18px;
  color: #5c5555;
}
.student-profile-form {
  margin-top: 0px;
  background-color: #d9bccc;
  height: 860px;
  font-weight: 600;
}

.student-profile-form .container {
  display: block;
  margin-top: 80px;
  order: 1px solid rgba(0, 0, 0, 0.075);
  width: 39%;
  height: 583px;
  background-color: rgb(242, 246, 242);
  border-radius: 1%;
  padding: 56px;
}

img.img-fluid {
  width: 248px;
  height: 260px;
  margin-left: -459px;
  margin-top: -232px;
  border-radius: 15px;
}

.success-message,
.error-message {
  background-color: palegreen;
  margin-top: 32px;
  padding: 12px;
}
