.student-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 0;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;

  padding: 0 !important;
  margin: 0;
}
.dropdown-menu-item {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0 !important;
  padding: 0.5rem;
}
.student-profile {
  border-radius: 5px;
}

.student-profile h5 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 18px;
  color: #5c5555;
}
.student-profile-form {
  margin-top: 0px;
  background-color: #fbf8fa;
  /* height: 860px; */
  font-weight: 600;
}

.container h1 {
  font-size: 22px;
  margin-top: -43px;
  margin-bottom: 26px;
  color: mediumblue;
}

.student-profile-form .container {
  display: block;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.075);

  background-color: rgb(248 253 248);
  border-radius: 1%;
  padding: 56px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}

.success-message,
.error-message {
  background-color: palegreen;
  margin-top: 16px;
  padding: 12px;
}

img.img-thumbnail {
  height: 6rem;
}
