form.change-password-form {
  margin: 5rem auto;
  width: 600px;
  background-color: #fbf8fa;
  margin-bottom: 291px;
}

div.password-container {
  display: block;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  width: 100%;
  /* height: 435px; */
  background-color: rgb(248 253 248);
  border-radius: 0%;
  padding: 9px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
div.form-group {
  margin-bottom: -12px;
  color: #5c5555;
  margin-top: 23px;
}

.change-password h1 {
  font-size: 22px;
  margin-top: 14px;
  margin-bottom: -1px;
  color: mediumblue;
}

div.text-left {
  margin-top: 29px;
}

.change-password-form {
  margin-bottom: 100px;
}
